@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Mulish:wght@400;600;700;800&display=swap");

// Colors
$white: #fff;
$black: #000;
$bg-gradient: linear-gradient(151deg, rgba(50, 108, 255, 1) 0%, rgba(38, 255, 242, 1) 100%);
$bg-gradient-safe: rgb(50, 108, 255);

// Width
$width-desktop: 1440px;
$width-laptop-lg: 1148px;
$width-laptop: 1024px;
$width-tablet: 768px;
$width-mobile: 436px;

$maxWidth: 1600;

// Mixins

@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

@mixin desktop {
    @media only screen and (min-width: $width-desktop) {
        @content;
    }
}

@mixin tablet-lg {
    @media only screen and (max-width: $width-laptop-lg - 1px) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (max-width: $width-laptop - 1px) {
        @content;
    }
}

@mixin mobile {
    @media only screen and (max-width: $width-tablet - 1px) {
        @content;
    }
}

@mixin mobile-sm {
    @media only screen and (max-width: $width-mobile - 1px) {
        @content;
    }
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}
body {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    //font-family: 'Marcellus', serif;//
    font-family: "Mulish", sans-serif;
    min-width: 32rem;
}

button {
    &:focus {
        outline: none;
    }
}

h2 {
    margin: 0;
}

p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    max-width: 147rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: 0 auto;

    @include tablet {
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 147rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin: 0 auto;

    @include tablet {
        justify-content: flex-start;
    }
}

.logo {
    width: 15.7rem;
    height: 7rem;
    flex-shrink: 0;

    &__img {
        width: 100%;
        height: 100%;
    }

    @include tablet {
        order: 1;
    }

    @include mobile {
        width: 11.7rem;
        height: 5rem;
    }
}

.nav {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;

    &-item {
        margin: 0 2.5rem;
    }
    &-link {
        text-decoration: none;
        font-weight: 700;
        color: rgba($white, 0.5);
        transition: 0.2s ease color;
        &:hover {
            color: rgba($white, 1);
        }
        &::after {
            content: "";
            opacity: 0;
            display: block;
            width: 100%;
            height: 0.2rem;
            margin-top: 0.5rem;
            border-radius: 5rem;
            background: $bg-gradient-safe;
            background: $bg-gradient;
        }
        &.active {
            color: rgba($white, 1);
            &::after {
                opacity: 1;
            }
        }
    }
}

.burger-menu {
    display: none;
    position: relative;
    width: 3.5rem;
    height: 3rem;
    transition: 0.4s;
    background: none;
    border: none;
    padding: 0;

    &__icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        background: rgba(255, 255, 255, 1);
        width: 100%;
        height: 0.5rem;
        transition: 0.4s;
        border-radius: 0.4rem;

        &::after,
        &::before {
            content: "";
            display: block;
            position: absolute;
            background: rgba(255, 255, 255, 1);
            width: 100%;
            height: 0.5rem;
            transition: 0.4s;
            border-radius: 0.4rem;
        }
        &::after {
            top: 1.3rem;
        }
        &::before {
            top: -1.3rem;
        }
    }

    @include tablet {
        display: block;
        margin-right: 2.4rem;
        order: 0;
    }

    @include mobile {
        margin-right: 1.6rem;
    }

    @include mobile-sm {
        width: 2.5rem;
        height: 2rem;

        &__icon {
            width: 100%;
            height: 0.3rem;

            &::after,
            &::before {
                width: 100%;
                height: 0.3rem;
            }
            &::after {
                top: 0.8rem;
            }
            &::before {
                top: -0.8rem;
            }
        }
    }
}

@include tablet {
    nav {
        display: none;
    }
}

.active {
    overflow: hidden;

    nav {
        padding-top: 1.5rem;
        display: block;
        position: absolute;
        top: 8.5rem;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.88);
        z-index: 1;
    }

    .nav {
        margin: 0;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .nav-item {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 1.2rem;
    }
}

.control {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
    &-item {
        margin-left: 7.5rem;
    }
    &-btn {
        background-color: transparent;
        border: none;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        &_search {
            background-image: url(images/search.svg);
            width: 1.8rem;
            height: 1.8rem;
        }
        &_notice {
            background-image: url(images/notice.svg);
            width: 2.13rem;
            height: 2.35rem;
        }
        &_account {
            background-image: url(images/account.svg);
            width: 1.8rem;
            height: 1.92rem;
        }
    }

    @include tablet {
        order: 2;
        margin-left: auto;

        &-item {
            margin-left: 4rem;
        }
    }

    @include mobile-sm {
        &-item {
            margin-left: 2rem;
        }
    }
}
.section {
    margin-bottom: 5rem;
    &__h2 {
        margin-bottom: 3.2rem;
        font-size: 2.8rem;
        line-height: 2rem;
        padding-left: 2rem;
        padding-right: 3rem;
        position: relative;
        font-weight: 700;
        display: inline-block;
        &::before {
            content: "";
            display: block;
            width: 0.8rem;
            height: 3.5rem;
            border-radius: 5rem;
            background: $bg-gradient-safe;
            background: $bg-gradient;
            position: absolute;
            left: 0;
            top: calc(50% - 1.7rem);
        }
        &::after {
            content: "";
            display: block;
            width: 0.9rem;
            height: 1.5rem;
            background-image: url(images/title-arrow.svg);
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            right: 0;
            top: calc(50% - 0.7rem);
        }
        &-link {
            color: $white;
            text-decoration: none;
        }
    }
    &__btn {
        border: none;
        border-radius: 10rem;
        padding: 1.5rem 3rem;
        font-family: "Mulish", sans-serif;
        font-weight: 800;
        cursor: pointer;
        background: $bg-gradient-safe;
        background: $bg-gradient;
        color: $white;
        box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
        transition: 0.2s ease box-shadow;
        margin-top: 5.5rem;
        &:hover {
            box-shadow: 0px 0px 0px rgba(50, 108, 255, 0.5);
        }
    }

    @include tablet {
        margin-bottom: 3.2rem;
        &__h2 {
            font-size: 2.4rem;
            line-height: 2.8rem;
            margin-bottom: 3.2rem;
        }

        &__btn {
            margin-top: 3.5rem;
            padding: 1rem;
            font-weight: 400;
        }
    }

    @include mobile {
        &__h2 {
            margin-bottom: 2.4rem;

            &::before {
                width: 0.6rem;
                height: 2.5rem;
                top: calc(50% - 1.1rem);
            }

            &::after {
                width: 0.7rem;
                height: 1.3rem;
                right: 0.8rem;
                top: calc(50% - 0.4rem);
            }

            &-link {
                font-size: 1.8rem;
                line-height: 2.4rem;
            }
        }

        &__btn {
            margin-top: 2.4rem;
            border-radius: 1.2rem;
        }
    }
}

.section-banner {
    border-bottom: 0.1rem solid #2f2e2e;
    display: flex;
    overflow: hidden;

    &__content {
        flex: 0 0 100%;
    }

    .container {
        max-width: 147rem;
        margin: 0 auto;
        height: 100%;
    }

    &__image-wrapper {
        padding-bottom: 47.813%;
        position: relative;
        flex: 0 0 calc(((100vw - 3rem) * 0.6) + 1.5rem);
        transform: translate(-100%, 0px);
        z-index: -1;
    }

    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }

    @include desktop {
        &__image-wrapper {
            flex: 0 0 calc(50vw - (0.4 - 0.5) * (1440px - 3rem));
        }
    }

    @include tablet {
        padding-top: 2rem;
    }

    @include mobile {
        flex-direction: column-reverse;
        padding-top: 0;

        .container {
            background-color: $black;
        }

        &__image-wrapper {
            padding-bottom: 80%;
            flex: 0 0 auto;
            transform: none;
        }
    }
}

.banner {
    width: 50%;
    height: 100%;
    padding-top: 12.2rem;
    padding-right: 1.6rem;
    padding-bottom: 20.3rem;
    padding-left: 0;
    background-color: $black;
    box-shadow: 100px 0px 100px $black;

    &__title {
        margin: 0;
        margin-bottom: 2.4rem;
        font-family: "Marcellus", serif;
        font-size: 8rem;
        line-height: 7.5rem;
    }
    &__text {
        color: #c2c2c2;
        font-size: 1.8rem;
        line-height: 1.6;
    }
    &-info {
        font-weight: 800;
        margin-bottom: 2.9rem;
        &__year {
            margin-right: 1.8rem;
        }
        &__age {
            margin-right: 1.8rem;
            position: relative;
            width: 6rem;
            display: inline-block;
            text-align: center;
            &::before {
                content: "";
                display: block;
                width: 100%;
                height: 2.4rem;
                background-image: url(images/age.svg);
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                top: calc(50% - 1.2rem);
                left: 0;
                right: 0;
            }
        }
        &__time {
            margin-right: 6.1rem;
        }
        &__rating {
            position: relative;
            &::after {
                content: "";
                display: inline-block;
                width: 1.6rem;
                height: 1.6rem;
                background-image: url(images/star.svg);
                margin-left: 1rem;
                position: absolute;
                top: 0;
                right: -2.6rem;
            }
        }
    }
    &-control {
        margin-top: 3.1rem;
        &__btn {
            background-color: transparent;
            border: none;
            border-radius: 10rem;
            padding: 1.5rem 3rem;
            font-family: "Mulish", sans-serif;
            font-weight: 800;
            cursor: pointer;

            @include tablet {
                padding: 1rem;
                font-weight: 400;
                border-radius: 1.9rem;
            }

            @include mobile {
                border-radius: 1.2rem;
            }
        }
        &__btn-main {
            background: $bg-gradient-safe;
            background: $bg-gradient;
            color: $white;
            position: relative;
            padding-left: 6rem;
            margin-right: 3rem;
            box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
            transition: 0.2s ease box-shadow;
            &:hover {
                box-shadow: 0px 0px 0px rgba(50, 108, 255, 0.5);
            }
            &::after {
                content: "";
                display: block;
                width: 1.4rem;
                height: 1.8rem;
                background-image: url(images/play.svg);
                position: absolute;
                left: 3rem;
                top: calc(50% - 0.9rem);
            }

            @include tablet {
                padding-left: 4rem;

                &::after {
                    left: 2rem;
                }
            }

            @include mobile {
                margin-right: 1.6rem;
                padding-left: 1rem;

                &::after {
                    content: none;
                }
            }
        }
        &__btn-more {
            background-color: $white;
            color: #323232;
            transition: 0.2s ease background-color, 0.2s ease color;
            &:hover {
                color: $white;
                background-color: transparent;
            }
        }

        @include mobile {
            margin-top: 2.4rem;
        }
    }

    @include tablet-lg {
        padding-bottom: 2.4rem;

        &__title {
            margin: 0;
            margin-bottom: 2.4rem;
            font-size: 4.8rem;
            line-height: 5.6rem;
        }
    }

    @include tablet {
        padding-top: 0;

        &__btn {
            padding: 1rem;
        }
        &__title {
            font-size: 3.6rem;
            line-height: 4.2rem;
        }
    }

    @include mobile {
        width: 100%;
        margin-top: -2.5rem;
        padding-top: 1.6rem;
        padding-right: 0;
        box-shadow: 0px -20px 20px 10px #000;

        &__title {
            margin: 0;
            margin-bottom: 1.6rem;
            font-size: 2.4rem;
            line-height: 2.8rem;
        }

        &-info {
            margin-bottom: 2.4rem;
            display: flex;
            justify-content: flex-start;

            &__year {
                margin-right: 1.5rem;
            }

            &__age {
                margin-right: 1.5rem;
            }

            &__time {
                margin-right: 1.5rem;
            }
        }

        &__text {
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }
}

.movies {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.1rem;
    &-item {
        box-shadow: 0px 0px 20px rgba(44, 176, 249, 0);
        transition: 0.2s ease box-shadow;
        border-radius: 2rem;
        flex: 0 0 14.61%;
        transition: box-shadow 0.2s;
        &:hover {
            box-shadow: 0px 0px 20px rgba(44, 176, 249, 0.5);
        }
    }
    &__link {
        overflow: hidden;
        position: relative;
        width: 100%;
        padding-bottom: 156.55%;
        display: block;
        border-radius: 2rem;
    }
    &__img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @include tablet {
        margin-top: 0;
        flex-wrap: wrap;

        &-item {
            margin-bottom: 2.4rem;
            flex: 0 0 30.91%;

            &:nth-last-child(-n + 3) {
                margin-bottom: 0;
            }
        }
    }

    @include mobile {
        &-item {
            margin-bottom: 2.4rem;
            flex: 0 0 47.6%;

            &:nth-last-child(-n + 3) {
                margin-bottom: 2.4rem;
            }

            &:nth-last-child(-n + 2) {
                margin-bottom: 0;
            }
        }
    }

    @include mobile-sm {
        &-link {
            padding-bottom: 150.55%;
        }
    }
}
.genres {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 2.1rem;
    &-item {
        flex: 0 0 23.7%;
        border-radius: 2rem;
        padding: 4.8rem 1rem 3.8rem;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin-bottom: 2.7rem;
        &_romance {
            background: linear-gradient(109.31deg, #fd093f 2.4%, #f383f1 100%);
        }
        &_drama {
            background: linear-gradient(114.5deg, #0fffda 2.22%, #3cdb77 68.84%);
        }
        &_historical {
            background: linear-gradient(109.31deg, #b936ff 2.4%, #57deda 100%);
        }
        &_action {
            background: linear-gradient(109.31deg, #fd093f 2.4%, #fb1378 2.41%, #fccb1a 100%);
        }
        &_sci-fi {
            background: linear-gradient(109.31deg, #ff6472 2.4%, #fda75d 100%);
        }
        &_horror {
            background: linear-gradient(110.16deg, #13547a 2.37%, #80d0c7 96.77%);
        }
        &_comedy {
            background: linear-gradient(109.93deg, #fff77b 2.37%, #ffbf42 50%);
        }
        &_documentary {
            background: linear-gradient(109.31deg, #1fa2ff 2.4%, #1fa2ff 2.41%, #1f535c 97.46%);
        }
    }
    &-icon {
        margin: 0 auto;
        width: 8rem;
        height: 8rem;
        position: relative;
        overflow: hidden;
    }
    &__image {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }
    &__title {
        font-size: 2.8rem;
        font-weight: 700;
        margin: 0.2rem 0 0 0;
    }

    @include tablet-lg {
        margin-top: 0;
        &__title {
            font-size: 2.2rem;
            line-height: 2.8rem;
        }
    }

    @include tablet {
        &-item {
            padding-top: 2.4rem;
            padding-left: 1.6rem;
            padding-bottom: 2.4rem;
            padding-right: 1.6rem;
        }

        &__title {
            font-size: 1.8rem;
            line-height: 2.4rem;
        }
    }

    @include mobile {
        &-item {
            flex: 0 0 47.6%;
            padding-top: 1.6rem;
            padding-left: 1.6rem;
            padding-bottom: 1.6rem;
            padding-right: 1.6rem;

            &:nth-last-child(-n + 2) {
                margin-bottom: 0;
            }
        }

        &__title {
            font-size: 1.6rem;
            line-height: 2.4rem;
        }

        &-icon {
            width: 6.5rem;
            height: 6.5rem;
        }
    }

    @include mobile-sm {
    }
}
.actors {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 2.1rem;

    &-item {
        flex: 0 0 13.195%;
    }
    &__link {
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        display: block;
        border-radius: 100%;
    }
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &__title {
        margin-bottom: 0;
    }

    @include tablet-lg {
        margin-top: 0;
        flex-wrap: wrap;

        &-item {
            margin-bottom: 2.4rem;
            flex: 0 0 30.195%;
        }
        &__link {
            margin: 0 auto;
            padding-bottom: 0;
            border-radius: 0;
        }

        &__img {
            margin: 0 auto;
            position: static;
            top: auto;
            left: auto;
            object-fit: unset;
            width: 19rem;
            height: 19rem;
        }
    }

    @include mobile {
        align-items: flex-start;

        &-item {
            margin-bottom: 1.6rem;
            flex: 0 0 47.195%;
        }

        &__img {
            width: 16rem;
            height: 16rem;
        }

        &__title {
            font-size: 1.6rem;
            line-height: 2.4rem;
        }
    }

    @include mobile-sm {
        &__img {
            width: 12rem;
            height: 12rem;
        }
    }
}
.marketing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 2.1rem;
    &-item {
        flex: 0 1 50%;
        border-radius: 2rem;
        box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.1);
        &:first-child {
            .marketing__img {
                border-radius: 2rem 0 0 2rem;
            }
        }
        &:last-child {
            .marketing__img {
                border-radius: 0 2rem 2rem 0;
            }
        }
    }
    &__link {
        overflow: hidden;
        position: relative;
        width: 100%;
        padding-bottom: 47.362%;
        display: block;
    }
    &__img {
        position: absolute;
        left: 0;
        top: 0;
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    @include tablet {
        margin-top: 0;
    }

    @include mobile {
        flex-wrap: wrap;
        &-item {
            flex: 0 1 100%;
            border-radius: 2rem;

            &:first-child {
                .marketing__img {
                    border-radius: 2rem 2rem 0 0;
                }
            }
            &:last-child {
                .marketing__img {
                    border-radius: 0 0 2rem 2rem;
                }
            }
        }
    }
}
.offer {
    max-width: 122.4rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(images/offer-bg.png);
    padding: 7.2rem 9.1875vw 7.2rem 5.7rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 7rem;
    margin-bottom: 12.1rem;
    box-sizing: border-box;
    border-radius: 2rem;

    @media only screen and (min-width: 1600px) {
        padding-right: 14.7rem;
    }

    &__title {
        font-weight: 700;
        @include adaptiv-font(64, 24);
        max-width: 80rem;
        margin: 0;
        padding-right: 2.4rem;
        line-height: 1;

        @media only screen and (min-width: 1600px) {
            font-size: 6.4rem;
        }
    }
    &__btn {
        border: none;
        border-radius: 10rem;
        padding: 1.5rem 3rem;
        font-family: "Mulish", sans-serif;
        font-weight: 800;
        cursor: pointer;
        background: $bg-gradient-safe;
        background: $bg-gradient;
        color: $white;
        box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
        transition: 0.2s ease box-shadow;
        &:hover {
            box-shadow: 0px 0px 0px rgba(50, 108, 255, 0.5);
        }
    }

    @include tablet-lg {
        padding: 3.2rem;
    }

    @include tablet {
        margin-top: 0;
        margin-bottom: 0;
    }

    @include mobile {
        padding: 2.4rem 1.6rem;
        flex-direction: column;
        align-items: center;
        justify-self: flex-start;

        &__title {
            font-size: 2.4rem;
            line-height: 2.8rem;
            margin-bottom: 2.4rem;
            padding-right: 0;
            max-width: 100%;
            text-align: center;
        }

        &__btn {
            border-radius: 1.2rem;
        }
    }
}

footer {
    background-color: #101012;
    padding: 7rem 0 5rem;

    @include tablet-lg {
        padding: 5rem 0 5rem;
        display: flex;
        flex-wrap: wrap;
    }

    @include mobile {
        padding: 0;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    max-width: 144rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin: 0 auto;

    &-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    &-list {
        list-style: none;
        padding-left: 0;
        margin: 0;
        &__item {
            margin-bottom: 2rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
        &__link {
            font-size: 1.8rem;
            color: #c2c2c2;
            text-decoration: none;
            font-weight: 600;
        }
    }

    @include tablet-lg {      
        display: flex;
        flex-wrap: wrap;

        &-item {            
            margin-bottom: 3.2rem;
            flex: 0 1 48.5%;

            &:nth-child(1) {
                margin-bottom: 3.2rem;
                flex: 0 1 100%;
            }
        }
    }

    @include mobile {
        &-list { 
            &__item {
                margin-bottom: 0.6rem;   
            }
            &__link {
                font-size: 1.3rem;
            }
        }
    }

    @include mobile-sm {
        &-item {
            margin-bottom: 2.4rem;          

            &:last-child {
                margin-bottom: 0;
            }

            &:nth-child(1) {
                margin-bottom: 2.4rem;
            }
        } 
    }
}
